@import "../node_modules/materialize-css/dist/css/materialize.css";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio[controls],
canvas,
video {
    display: inline-block;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

nav li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

ul.cdx-block:not(.browser-default)>li:before {
    content: "•";
    padding-right: 5px;
    padding-left: 15px;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
}

html,
body,
textarea,
input {
    -webkit-text-size-adjust: none;
}

body {
    font-family: 'hse-500', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
}

@font-face {
    font-family: 'hse-300';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Thin.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-500';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Regular.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-600';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-700';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-800';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Bold.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-900';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Black.ttf) format("opentype");
}

.codex-editor__redactor {
    padding-bottom: 20px !important;
}

.ce-block__content {
    width: 100% !important;
    max-width: 100% !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 125%;
}

h2 {
    font-weight: 500;
    font-size: 37px;
    line-height: 125%;
}

h3 {
    font-weight: 500;
    font-size: 34px;
    line-height: 125%;
}

h4 {
    font-weight: 500;
    font-size: 27px;
    line-height: 125%;
}

h5 {
    font-weight: 500;
    font-size: 23px;
    line-height: 125%;
}

h5 {
    font-weight: 500;
    font-size: 21px;
    line-height: 125%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/* Комментарии */

.comment {
    margin-top: 40px;
}

.comment_actions {
    background-color: pink;
    display: inline-block;
}

.replies {
    padding-left: 40px !important;
}