@import "../node_modules/materialize-css/dist/css/materialize.css";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio[controls],
canvas,
video {
    display: inline-block;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
select
{
    display: block !important;
}
h1,
h2,
h3,
h4,
h5,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

nav li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

ul.cdx-block:not(.browser-default)>li:before {
    content: "•";
    padding-right: 5px;
    padding-left: 15px;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
}

html,
body,
textarea,
input {
    -webkit-text-size-adjust: none;
}

body {
    font-family: 'hse-500', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
}

@font-face {
    font-family: 'hse-300';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Thin.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-500';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Regular.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-600';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-700';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-800';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Bold.ttf) format("opentype");
}

@font-face {
    font-family: 'hse-900';
    src: url(assets/fonts/hse/ttf/AnyConv.com__HSESans-Black.ttf) format("opentype");
}

.codex-editor__redactor {
    padding-bottom: 20px !important;
}

.ce-block__content {
    width: 100% !important;
    max-width: 100% !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 125%;
}

h2 {
    font-weight: 500;
    font-size: 37px;
    line-height: 125%;
}

h3 {
    font-weight: 500;
    font-size: 34px;
    line-height: 125%;
}

h4 {
    font-weight: 500;
    font-size: 27px;
    line-height: 125%;
}

h5 {
    font-weight: 500;
    font-size: 23px;
    line-height: 125%;
}

h5 {
    font-weight: 500;
    font-size: 21px;
    line-height: 125%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/* Комментарии */

.comment {
    margin-top: 40px;
}



.replies {
    padding-left: 60px !important;
}

.replies .comment-action-reply {
    display: none;
}

.xs_comments__info
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.xs_comments__count span:first-child
{
    color: #9B9B9B;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    margin-right: 4px;
}

.xs_comments__count span:last-child
{
    color: #BE1F4F;
    font-size: 19px;
}

.xs_comments__filter
{
    display: flex;
    justify-content: space-between;
}

.xs_comments__filter a
{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    margin-right: 4px;
    color: #002E6E;
    border-bottom: 1px solid #002E6E;
}

.xs_comments__filter a:first-child
{
    margin-right: 7px;
}

.xs_comments__filter___active
{
    color: #BE1F4F !important;
    border-bottom: none !important;
}

.xs_comments___write
{
    display: flex;
    align-items: flex-start;
}

.xs_comments___write img
{
    width: 48px;
    height: 44px;
    border-radius: 50%;
}

.comment-form-textarea
{
    height: 100px !important;
    height: auto;
    width: 100%;
    background: #F5F5F5;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 20px;
    line-height: 40px;
}

.xs_comments___write___form
{
    width: 100%;
}

.xs_comments___write___form___wrap
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.xs_comments___write___avatar
{
    margin-right: 10px;
}

.comment-form-button-submit
{
    display: inline-block;
    border: none;
    outline: none;
    background: #BE1F4F;
    border-radius: 4px;
    padding: 15px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.comment-form-button-submit:hover
{
    opacity: 0.7;
    transition: all 0.3s;
}

.xs_comment
{
    margin-top: 32px;
}

.xs_comment__information
{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133.5%;
    color: #000000;
}

.xs_comment__date
{
    margin-bottom: 7px;
}

.comment-text
{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #787878;
    margin-top: 7px;
}

.comment-action-reply
{
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.comment-action-reply:hover{
    opacity: 0.7;
    transition: all 0.3s;
}

.comment_actions {
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.comment-action-edit
{
    cursor: pointer;
    transition: all 0.3s;
}

.comment-action-edit:hover
{
    opacity: 0.7;
    transition: all 0.3s;
}


.comment-action-delete
{
    cursor: pointer;
    transition: all 0.3s;
}

.comment-action-delete:hover
{
    opacity: 0.7;
    transition: all 0.3s;
}

.xs_reply textarea
{
    margin-left: 40px;
    width: 89%;
}

.xs_edit_form textarea
{
    margin-left: 40px;
    width: 89%;
    margin-top: 15px;
}

.comment-form-cancel-button
{
    display: inline-block;
    border: none;
    outline: none;
    background: #BE1F4F;
    border-radius: 4px;
    padding: 15px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
    margin-right: 10px;
}


.replies .xs_comment
{
    padding-left: 15px;
    border-left: 1px solid #BE1F4F;
}

.xs_comments__more
{
    background: #002E6E;
    border-radius: 4px;
    padding: 7px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 97.7%;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 40px;
}

button:disabled
{
    opacity: 0.5;
}

.cases_home
{
    margin-top: 50px;
}

.cases_home h2
{
    font-weight: 400;
    font-size: 55px;
    line-height: 97.7%;
    color: #010304;
    margin-bottom: 40px;
}

.cases_home__list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cases_home__list .case_item
{
    width: 32%;
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EBEBEB;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}


.cases_home__list .case_item h3
{
    font-weight: 900;
    font-size: 24px;
    line-height: 125%;
    color: #fff;
    position: relative;
}

.cases_home__list  .case_item__info .case_item__info___name
{
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #010304;
    position: relative;
    color: #fff;
}

.cases_home__list  .case_item__info .case_item__programm
{
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #010304;
    position: relative;
    color: #fff;
}

.case_item__wrap
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    z-index: 0;
}

.cases_home__btn
{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BE1F4F;
    border-radius: 85px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126.2%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s;
    margin-top: 30px;
}

.page_layout
{
    position: relative;
}

.page_layout___wrap
{
    position: relative;
}


.page_layout_fix_left
{
    position: absolute;
    left: 0px;
    top: 0;
}


.page_layout_fix_right
{
    position: absolute;
    top: 0;
    right: 0px;
}


.likes_comment .add_like div
{
    margin-right: 0 !important;
    margin-left: 10px;
}

.likes_comment .add_like div span
{
    font-size: 14px;
}

.comment_rep_and_del
{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 3px;
}