<section class="cases_home">
    <div class="container">
        <h2>Кейсы</h2>

        <div class="cases_home__list">
            <a href="#" class="case_item" style="background: url(https://futureinyou.ru/media/news/images/VN_5543_web.jpg) no-repeat center center / cover;">
                <div class="case_item__wrap"></div>
                <h3>Как найти директора программы ExEd?</h3>
                <div class="case_item__info">
                    <div class="case_item__info___name">Иванов Иван</div>
                    <div class="case_item__programm"> MBA - Финансы</div>
                </div>
            </a>

            <a href="#" class="case_item"
                style="background: url(https://futureinyou.ru/media/news/images/VN_5543_web.jpg) no-repeat center center / cover;">
                <div class="case_item__wrap"></div>
                <h3>Как найти директора программы ExEd?</h3>
                <div class="case_item__info">
                    <div class="case_item__info___name">Иванов Иван</div>
                    <div class="case_item__programm"> MBA - Финансы</div>
                </div>
            </a>

            <a href="#" class="case_item"
                style="background: url(https://futureinyou.ru/media/news/images/VN_5543_web.jpg) no-repeat center center / cover;">
                <div class="case_item__wrap"></div>
                <h3>Как найти директора программы ExEd?</h3>
                <div class="case_item__info">
                    <div class="case_item__info___name">Иванов Иван</div>
                    <div class="case_item__programm"> MBA - Финансы</div>
                </div>
            </a>

            <a href="#" class="case_item"
                style="background: url(https://futureinyou.ru/media/news/images/VN_5543_web.jpg) no-repeat center center / cover;">
                <div class="case_item__wrap"></div>
                <h3>Как найти директора программы ExEd?</h3>
                <div class="case_item__info">
                    <div class="case_item__info___name">Иванов Иван</div>
                    <div class="case_item__programm"> MBA - Финансы</div>
                </div>
            </a>

            <a href="#" class="case_item"
                style="background: url(https://futureinyou.ru/media/news/images/VN_5543_web.jpg) no-repeat center center / cover;">
                <div class="case_item__wrap"></div>
                <h3>Как найти директора программы ExEd?</h3>
                <div class="case_item__info">
                    <div class="case_item__info___name">Иванов Иван</div>
                    <div class="case_item__programm"> MBA - Финансы</div>
                </div>
            </a>

            <a href="#" class="case_item"
                style="background: url(https://futureinyou.ru/media/news/images/VN_5543_web.jpg) no-repeat center center / cover;">
                <div class="case_item__wrap"></div>
                <h3>Как найти директора программы ExEd?</h3>
                <div class="case_item__info">
                    <div class="case_item__info___name">Иванов Иван</div>
                    <div class="case_item__programm"> MBA - Финансы</div>
                </div>
            </a>
        </div>

        <a href="#" class="cases_home__btn">Смотреть все кейсы</a>
    </div>
</section>
