<div class="xs_add_case">
    <div class="container">
        <div class="xs_content___component___title">
            <h1>Разместить кейс</h1>
        </div>

        <main class="xs_add_case">
            <div class="xs_add_case__preview">
                <div class="xs_user_profile__avatar">
                    <div>
                        <figure class="xs_preview">
                            <img [src]="[avatarPreview]" alt="Изображение">
                        </figure>
                        <input type="file" class="xs_file" #input (change)="onPreviewFileUpload($event)">
                        <button type="button" class="waves-effect waves-light btn orange lighten-2 mb2" (click)="triggerClick()">
                            Загрузить обложку кейса
                        </button>
                    </div>
                </div>
            </div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="input-field">
                    <input id="title" type="text" formControlName="title" [ngClass]="{'invalid': form.controls['title'].invalid && form.controls['title'].touched}">
                    <label for="title">Заголовок:</label>
                    <span class="helper-text red-text" *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
                        <p *ngIf="form.controls['title'].errors?.required">
                            Заголовок не должен быть пустым
                        </p>
                
                        <p *ngIf="form.controls['title'].errors?.email">
                            Введите корректный Заголовок
                        </p>
                    </span>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <div id="editor-js" class="input-field"></div>
                    </div>
                </div>




                <button type="submit" class="create_case" [disabled]="form.invalid || form.disabled">Разместить</button>
            </form>
        </main>
    </div>
</div>