<div class="xs_add_case">
    <div class="container">
        <div class="xs_content___component___title">
            <h1>Разместить кейс</h1>
        </div>

        <main class="xs_add_case">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="xs_add_case__categories">
                    <div class="xs_add_case__categories___wrap">
                        <div class="input-field input-otraslSpec">
                            <h4 for="otraslSpec">Отрасль профессиональной специализации:</h4>
                            <select id="otraslSpec" formControlName="otraslSpec"
                                [ngClass]="{'invalid': form.controls['otraslSpec'].invalid && form.controls['otraslSpec'].touched}">
                                <option value="" disabled selected>Выберите отрасль</option>
                                <option value="Промышленность">Промышленность</option>
                                <option value="Банковский сектор">Банковский сектор</option>
                                <option value="Сельское хозяйство">Сельское хозяйство</option>
                                <option value="Транспорт">Транспорт</option>
                                <option value="Образование">Образование</option>
                                <option value="Здравоохранение">Здравоохранение</option>
                                <option value="Социальное обеспечение">Социальное обеспечение</option>
                                <option value="Строительство">Строительство</option>
                                <option value="Связь">Связь</option>
                                <option value="Торговля">Торговля</option>
                                <option value="Общественное питание">Общественное питание</option>
                                <option value="Логистика">Логистика</option>
                                <option value="Наука">Наука</option>
                                <option value="ЖКХ">ЖКХ</option>
                                <option value="Консалтинг">Консалтинг</option>
                                <option value="Некоммерческая деятельность">Некоммерческая деятельность</option>
                                <option value="Другое">Другое</option>
                            </select>
                        </div>
                        
                        
                        <div class="input-field input-functionsNapravlenie">
                            <h4 for="functionsNapravlenie">Функциональное направление:</h4>
                            <select id="functionsNapravlenie" formControlName="functionsNapravlenie"
                                [ngClass]="{'invalid': form.controls['functionsNapravlenie'].invalid && form.controls['functionsNapravlenie'].touched}">
                                <option value="" disabled selected>Выберите направление:</option>
                                <option value="Стратегическое развитие">Стратегическое развитие</option>
                                <option value="Управление человеческими ресурсами">Управление человеческими ресурсами</option>
                                <option value="Маркетинг">Маркетинг</option>
                                <option value="IT">IT</option>
                                <option value="Производственный">Производственный</option>
                                <option value="Операционный">Операционный</option>
                                <option value="Финансовый">Финансовый</option>
                                <option value="Инвестиционный">Инвестиционный</option>
                                <option value="Инновационный">Инновационный</option>
                                <option value="Управление качеством">Управление качеством</option>
                                <option value="Антикризисное управление">Антикризисное управление</option>
                                <option value="Логистика и управление цепями поставок">Логистика и управление цепями поставок</option>
                                <option value="Внешнеэкономическая деятельность">Внешнеэкономическая деятельность</option>
                                <option value="Другое">Другое</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="xs_add_case__preview">
                    <div class="xs_user_profile__avatar">
                        <div>
                            <figure class="xs_preview">
                                <img [src]="[avatarPreview]" alt="Изображение" *ngIf="avatarPreview !== ''">
                                <div class="prevEmpty" *ngIf="avatarPreview == ''">Загрузить обложку кейса</div>
                            </figure>
                            <input type="file" class="xs_file" #input (change)="onPreviewFileUpload($event)">
                            <button type="button" class="waves-effect waves-light btn orange lighten-2 mb2" (click)="triggerClick()">
                                ЗАГРУЗИТЕ ОБЛОЖКУ КЕЙСА
                            </button>
                        </div>
                    </div>
                </div>


                <div class="input-field">
                    <input id="title" type="text" formControlName="title" [ngClass]="{'invalid': form.controls['title'].invalid && form.controls['title'].touched}">
                    <label for="title">Заголовок:</label>
                    <span class="helper-text red-text" *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
                        <p *ngIf="form.controls['title'].errors?.required">
                            Заголовок не должен быть пустым
                        </p>
                
                        <p *ngIf="form.controls['title'].errors?.email">
                            Введите корректный Заголовок
                        </p>
                    </span>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <div id="editor-js" class="input-field"></div>
                    </div>
                </div>




                <button type="submit" class="create_case" [disabled]="form.invalid || form.disabled">Разместить</button>
            </form>
        </main>
    </div>
</div>