@media screen and (max-width:1200px)
{
    .cases_home__list
    {
        flex-wrap: wrap;
    }

    .cases_home__list .case_item h3 {
        font-size: 18px;
    }

    .cases_home__list .case_item__info .case_item__programm {
        font-size: 18px;
    }
}


@media screen and (max-width:992px) {
    .cases_home__list .case_item {
        width: 49%;
        height: 270px;
    }
}


@media screen and (max-width:768px) {
    .cases_home__list .case_item {
        width: 100%;
        height: 270px;
    }
}