<div class="comments">
    <h3 class="comments-title">Комментарии</h3>
    <div class="comment-form-title">Напишите комментарий</div>
    <comment-form submitLabel="Написать" (handleSubmit)="addComment({ text: $event, parentId: null, user: currentUser, caseId: caseId })"></comment-form>
    <div class="comments-container">
        <comment class="comment" *ngFor="let comment of mainComments" [comment]="comment" [currentUserId]="currentUser._id" [replies]="getReplies(comment._id)" (setActiveComment)="setActiveComment($event)" [activeComment]="activeComment" (addComment)="addComment($event)"
            [caseId]="caseId">
            {{comment.body}}
        </comment>
    </div>
</div>