
<div class="xs_comments">
    <div class="xs_comments__info">
        <div class="xs_comments__count">
            <span>Комментарии:</span> 
            <span>{{commentsAllPaginate.length}}</span>
        </div>
        
        <div class="xs_comments__filter">
            <a href="#" class="xs_comments__filter___active">Популярные</a>
            <a href="#">Смотреть все</a>
        </div>
    </div>
    <div class="xs_comments___write">
        <div class="xs_comments___write___avatar">
            <img [src]="[commentAvatar]" alt="Изображение">
        </div>
        <div class="xs_comments___write___form">
            <comment-form submitLabel="Написать"
                (handleSubmit)="addComment({ text: $event, parentId: null, user: currentUser, caseId: caseId })"></comment-form>
        </div>
    </div>
    <div class="comments-container">
        <comment class="comment" *ngFor="let comment of mainComments" [comment]="comment" [currentUserId]="currentUser._id"
            [replies]="getReplies(comment._id)" (setActiveComment)="setActiveComment($event)"
            [activeComment]="activeComment" (addComment)="addComment($event)"
            (updateComment)="updateComment({text: $event, _id: comment._id})" (deleteComment)="deleteComment($event)"
            [caseId]="caseId">
            {{comment.body}}
        </comment>

        <div class="xs_comments__more" *ngIf="!noMoreComments">
            <span (click)="loadmore()">Загрузить еще комментарии...</span>
        </div>

    </div>
</div>