<div class="xs_show_case">
    <div class="container">


        <main class="xs_show_case">
            <div class="xs_show_case__order">
                <h1>
                    {{caseTitle}}
                </h1>
            </div>

            <div class="xs_show_case___preview">
                <img [src]="previewSrc" alt="Изображение" *ngIf="previewSrc !==''">
            </div>


            <div class="xs_show_case___likesbox">
                <div class="xs_show_case__top___date">
                    <div>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M26 5H6C5.44772 5 5 5.44772 5 6V26C5 26.5523 5.44772 27 6 27H26C26.5523 27 27 26.5523 27 26V6C27 5.44772 26.5523 5 26 5Z"
                                stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <rect x="14.75" y="14.75" width="1.5" height="1.5" stroke="#BE1F4F" stroke-width="1.5" />
                            <rect x="20.75" y="20.75" width="1.5" height="1.5" stroke="#BE1F4F" stroke-width="1.5" />
                            <path d="M22 3V7" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10 3V7" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M5 11H27" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                        <span>{{caseDate | date: 'mediumDate':null:'ru'}}</span>
                    </div>

                    <div>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M17.5 8C8.57143 8 5 16.0009 5 16.0009C5 16.0009 8.57143 24 17.5 24C26.4286 24 30 16.0009 30 16.0009C30 16.0009 26.4286 8 17.5 8Z"
                                stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M17.5 20C19.9853 20 22 18.2091 22 16C22 13.7909 19.9853 12 17.5 12C15.0147 12 13 13.7909 13 16C13 18.2091 15.0147 20 17.5 20Z"
                                stroke="#BE1F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span>{{orderViews}} просмотров</span>
                    </div>
                </div>

                <div class="xs_show_case__top___likes" *ngIf="currentUser">

                    <app-add-like [caseId]="caseId" [userId]="currentUser._id"></app-add-like>


                    <div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.375 20.2493H4.46875C4.27813 20.2493 4.09531 20.1735 3.96052 20.0388C3.82573 19.904 3.75 19.7211 3.75 19.5305V11.6242C3.75 10.4916 3.97309 9.37004 4.40654 8.32361C4.83998 7.27718 5.4753 6.32637 6.2762 5.52547C7.0771 4.72456 8.02791 4.08925 9.07435 3.6558C10.1208 3.22236 11.2423 2.99927 12.375 2.99927H12.375C13.5077 2.99927 14.6292 3.22236 15.6756 3.65581C16.7221 4.08925 17.6729 4.72457 18.4738 5.52547C19.2747 6.32638 19.91 7.27719 20.3435 8.32362C20.7769 9.37006 21 10.4916 21 11.6243V11.6243C21 13.9118 20.0913 16.1056 18.4738 17.7231C16.8563 19.3406 14.6625 20.2493 12.375 20.2493Z"
                                stroke="#9B9B9B" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12.375 13.125C12.9963 13.125 13.5 12.6213 13.5 12C13.5 11.3787 12.9963 10.875 12.375 10.875C11.7537 10.875 11.25 11.3787 11.25 12C11.25 12.6213 11.7537 13.125 12.375 13.125Z"
                                fill="#BE1F4F" />
                            <path
                                d="M7.875 13.125C8.49632 13.125 9 12.6213 9 12C9 11.3787 8.49632 10.875 7.875 10.875C7.25368 10.875 6.75 11.3787 6.75 12C6.75 12.6213 7.25368 13.125 7.875 13.125Z"
                                fill="#BE1F4F" />
                            <path
                                d="M16.875 13.125C17.4963 13.125 18 12.6213 18 12C18 11.3787 17.4963 10.875 16.875 10.875C16.2537 10.875 15.75 11.3787 15.75 12C15.75 12.6213 16.2537 13.125 16.875 13.125Z"
                                fill="#BE1F4F" />
                        </svg>


                        <span>{{comments_counts}}</span>
                    </div>


                    <div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z"
                                stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M16.5 21.75C18.1569 21.75 19.5 20.4069 19.5 18.75C19.5 17.0931 18.1569 15.75 16.5 15.75C14.8431 15.75 13.5 17.0931 13.5 18.75C13.5 20.4069 14.8431 21.75 16.5 21.75Z"
                                stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M16.5 8.25C18.1569 8.25 19.5 6.90685 19.5 5.25C19.5 3.59315 18.1569 2.25 16.5 2.25C14.8431 2.25 13.5 3.59315 13.5 5.25C13.5 6.90685 14.8431 8.25 16.5 8.25Z"
                                stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.9766 6.87215L8.52307 10.378" stroke="#9B9B9B" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.52307 13.622L13.9766 17.1278" stroke="#9B9B9B" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>



                        <span>Поделиться</span>
                    </div>


                    <div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.7505 21L10.4998 17.25L5.25049 21V6.75C5.25049 6.55109 5.32951 6.36032 5.47016 6.21967C5.61081 6.07902 5.80158 6 6.00049 6H15.0005C15.1994 6 15.3902 6.07902 15.5308 6.21967C15.6715 6.36032 15.7505 6.55109 15.7505 6.75V21Z"
                                stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M8.25049 3H18.0005C18.1994 3 18.3902 3.07902 18.5308 3.21967C18.6715 3.36032 18.7505 3.55109 18.7505 3.75V18"
                                stroke="#BE1F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>




                        <span>В закладки</span>
                    </div>
                </div>
            </div>

            <div class="xs_show_case___content">
                <div class="xs_show_case___content____item xs_show_case___content____item____1">
                    <div class="row">
                        <div id="editor-js"></div>
                    </div>
                </div>
                <div class="xs_show_case___content____item xs_show_case___content____item____2">
                    <div class="xs_show_case___content___sidebar">
                        <div class="xs_show_case___author">
                            <h3>Автор кейса</h3>

                            <div class="xs_show_case___author___info">
                                <div class="xs_show_case___author___info___avatar">
                                    <img *ngIf="currentUserCase" src="{{currentUserCase.xsAvatar}}"
                                        alt="Изображене">
                                    <img *ngIf="!currentUserCase" src="https://static.tildacdn.com/tild3633-6532-4233-a631-363261663462/profile.png" alt="Изображене">
                                    <div *ngIf="currentUserCase">
                                        <span>{{currentUserCase.name}}</span><br>
                                        <span>{{currentUserCase.secondName}}</span>
                                    </div>
                                </div>
                                
                                
                                <div class="xs_show_case___author___info____program" *ngIf="currentUserCase">{{currentUserCase.program}} - {{currentUserCase.specialization}}</div>

                                <div class="xs_show_case___author___info___projects">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.81795 17.3033C7.75729 20.4853 3.51465 20.4853 3.51465 20.4853C3.51465 20.4853 3.51465 16.2427 6.69663 15.182"
                                            stroke="#BE1F4F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M18.3639 9.87864L12 16.2426L7.75732 12L14.1213 5.636C16.531 3.22623 18.9408 3.24974 19.9685 3.40307C20.1267 3.42666 20.2732 3.50045 20.3863 3.61358C20.4995 3.7267 20.5733 3.87318 20.5969 4.03141C20.7502 5.05911 20.7737 7.46887 18.3639 9.87864Z"
                                            stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M17.3033 10.9393V16.9926C17.3033 17.0911 17.2839 17.1887 17.2462 17.2796C17.2085 17.3706 17.1533 17.4533 17.0836 17.523L14.0516 20.555C13.9556 20.651 13.8354 20.7191 13.7037 20.7521C13.572 20.7852 13.4338 20.7818 13.3039 20.7425C13.174 20.7032 13.0572 20.6293 12.9659 20.5288C12.8747 20.4283 12.8124 20.3049 12.7858 20.1718L12 16.2426"
                                            stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M13.0604 6.69666H7.00714C6.90865 6.69666 6.81112 6.71605 6.72013 6.75375C6.62913 6.79144 6.54645 6.84668 6.47681 6.91632L3.44477 9.94837C3.34878 10.0444 3.28064 10.1646 3.24762 10.2963C3.2146 10.4279 3.21794 10.5661 3.25728 10.696C3.29662 10.826 3.37048 10.9428 3.47099 11.034C3.57151 11.1253 3.6949 11.1875 3.82801 11.2141L7.75714 12"
                                            stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                
                                    <div *ngIf="currentUserCases">
                                        <span>{{currentUserCases.length}} </span> проект(ов)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xs_show_case___info">
                            <h3>Статистика кейса</h3>
                            <div class="xs_show_case___info____otraslSpec" *ngIf="xsActualCase">
                                <span>Отрасль: </span>
                                <span>{{xsActualCase.otraslSpec}}</span>
                            </div>

                            <div class="xs_show_case___info____functionsNapravlenie" *ngIf="xsActualCase">
                                <span>Направление: </span>
                                <span>{{xsActualCase.functionsNapravlenie}}</span>
                            </div>


                            <div class="xs_show_case___time">
                                Осталось на решение <span>22 </span> дня
                            </div>

                            <div class="xs_show_case___dop___thanks" *ngIf="additionalLikeCommentService.actualCaseCommentsResult!== 0">
                                <div class="xs_show_case___dop___thanks___title">
                                    <h4>Отдельное спасибо:</h4>
                                </div>
                                
                                <!-- <div *ngFor="let comment of actualCaseComments">
                                    <div class="xs_dop_like">
                                        {{comment.username}} {{comment.userSecondName}}
                                    </div>
                                </div> -->
                                <div *ngFor="let item of additionalLikeCommentService.actualCaseCommentsResult | keyvalue">
                                    <div class="xs_dop_like">
                                        <span>{{item.key}}</span> <span *ngIf="item.value > 1"> 
                                            (
                                                <svg _ngcontent-hym-c60="" width="16" height="15" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path _ngcontent-hym-c60=""
                                                        d="M29.37 11.3619L29.3699 11.3617C29.0768 10.4835 28.3315 9.84565 27.4222 9.70673L27.4207 9.70652L20.3761 8.65112L17.2 1.90892L17.1997 1.90838C16.7923 1.04606 15.95 0.5 15.0007 0.5C14.0513 0.5 13.2091 1.04606 12.8016 1.90837L12.8004 1.91085L9.67157 8.62702L2.57942 9.7067L2.57915 9.70674C1.66943 9.84572 0.925662 10.4839 0.631594 11.3611L0.631324 11.3619C0.331878 12.2602 0.552409 13.2408 1.21316 13.9156C1.21327 13.9157 1.21338 13.9158 1.21349 13.9159L6.35739 19.1806L5.14124 26.6072L5.14118 26.6076C4.98613 27.559 5.37143 28.5015 6.15705 29.0553C6.91594 29.5932 7.89582 29.6461 8.70705 29.1989L8.70946 29.1975L14.9564 25.7087L21.2945 29.199L21.2949 29.1992C22.1087 29.6464 23.0861 29.5906 23.844 29.0555C24.6294 28.502 25.0165 27.5594 24.8601 26.6069L23.642 19.171L28.7878 13.9159C29.4488 13.2411 29.6695 12.2604 29.37 11.3619Z"
                                                        fill="#BE1F4F" stroke="#BE1F4F"></path>
                                                </svg>
                                                {{item.value}})
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="xs_case__comments" *ngIf="currentUser">
                <comments [currentUser]="currentUser._id" [caseId]="caseId" (commentsCount)="comments_count($event)">
                </comments>
            </div>
        </main>
    </div>
</div>