<div *ngIf="loading === false; else loader">
    <div class="xs_content___component___title">
        <h1>Мои кейсы</h1>
    </div>

    <main class="xs_keyses" *ngIf="cases.length !== 0; else empty">
        <div class="xs_keyses__nav">
            <ul>
                <li class="xs_keyses__nav___active">Опубликованные</li>
                <li>На модерации</li>
                <li>Черновики</li>
            </ul>
        </div>

        <div class="xs_keyses__list">
            <div class="xs_keyses__list___item" *ngFor="let case of cases" >
                <div>
                    <div class="xs_keys_dots xs_keys_dots_open" #el (click)="openArea(el)">
                        <svg width="21" height="5" viewBox="0 0 21 5" fill="none" xmlns="http://www.w3.org/2000/svg" #dot_trigger>
                                <ellipse cx="18.5" cy="2.5" rx="2.50001" ry="2.5" fill="#002E6E" />
                                <ellipse cx="10.5" cy="2.5" rx="2.50001" ry="2.5" fill="#002E6E" />
                                <ellipse cx="2.50001" cy="2.5" rx="2.50001" ry="2.5" fill="#002E6E" />
                            </svg>
                    </div>

                    <div class="xs_keyses__list___item____setting" #dot_area>
                        <div class="xs_keys_dots xs_keys_dots_close" #closeEl (click)="closeArea(closeEl)">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" #dotAreaClose>
                                        <path
                                            d="M30 1.76757L28.2324 0L15 13.2324L1.76757 0L0 1.76757L13.2324 15L0 28.2324L1.76757 30L15 16.7676L28.2324 30L30 28.2324L16.7676 15L30 1.76757Z"
                                            fill="#fff"></path>
                                    </svg>
                        </div>

                        <div class="xs_keyses__list___item____setting___btns">
                            <a [routerLink]="['/site','cases','show',case._id]">Смотреть</a>
                            <a [routerLink]="['/site','cases','edit',case._id]">Редактировать</a>
                            <span (click)="onDeleteCase($event, case)">Удалить</span>
                        </div>
                    </div>
                    <a [routerLink]="['/site','cases','show',case._id]">
                        <h3>{{case.title}}</h3>
                    </a>
                    <div class="xs_keyses__list___item___info">
                        <div>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <rect x="11.0625" y="11.0625" width="1.125" height="1.125" stroke="black" stroke-width="1.125" />
                                        <rect x="15.5625" y="15.5625" width="1.125" height="1.125" stroke="black" stroke-width="1.125" />
                                        <path d="M16.5 2.25V5.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.5 2.25V5.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.75 8.25H20.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                            <span>{{case.date | date: 'mediumDate':null:'ru'}}</span>
                        </div>


                        <div *ngIf="currentUser">
                            <app-add-like [caseId]="case._id" [userId]="currentUser._id"></app-add-like>    
                        </div>
                        


                        <div>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M12.375 20.2493H4.46875C4.27813 20.2493 4.09531 20.1735 3.96052 20.0388C3.82573 19.904 3.75 19.7211 3.75 19.5305V11.6243C3.75 10.4916 3.97309 9.37005 4.40654 8.32362C4.83998 7.27718 5.4753 6.32637 6.2762 5.52547C7.0771 4.72457 8.02791 4.08925 9.07435 3.65581C10.1208 3.22236 11.2423 2.99927 12.375 2.99927H12.375C13.5077 2.99927 14.6292 3.22236 15.6756 3.65581C16.7221 4.08926 17.6729 4.72457 18.4738 5.52548C19.2747 6.32638 19.91 7.27719 20.3435 8.32363C20.7769 9.37006 21 10.4916 21 11.6243V11.6243C21 13.9118 20.0913 16.1056 18.4738 17.7231C16.8563 19.3406 14.6625 20.2493 12.375 20.2493Z"
                                                        stroke="black" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path
                                                        d="M12.375 13.125C12.9963 13.125 13.5 12.6213 13.5 12C13.5 11.3787 12.9963 10.875 12.375 10.875C11.7537 10.875 11.25 11.3787 11.25 12C11.25 12.6213 11.7537 13.125 12.375 13.125Z"
                                                        fill="black" />
                                                    <path
                                                        d="M7.875 13.125C8.49632 13.125 9 12.6213 9 12C9 11.3787 8.49632 10.875 7.875 10.875C7.25368 10.875 6.75 11.3787 6.75 12C6.75 12.6213 7.25368 13.125 7.875 13.125Z"
                                                        fill="black" />
                                                    <path
                                                        d="M16.875 13.125C17.4963 13.125 18 12.6213 18 12C18 11.3787 17.4963 10.875 16.875 10.875C16.2537 10.875 15.75 11.3787 15.75 12C15.75 12.6213 16.2537 13.125 16.875 13.125Z"
                                                        fill="black" />
                                                </svg>

                            <span >{{case.comNum}}</span>
                        </div>


                        <div>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M12.375 20.2493H4.46875C4.27813 20.2493 4.09531 20.1735 3.96052 20.0388C3.82573 19.904 3.75 19.7211 3.75 19.5305V11.6243C3.75 10.4916 3.97309 9.37005 4.40654 8.32362C4.83998 7.27718 5.4753 6.32637 6.2762 5.52547C7.0771 4.72457 8.02791 4.08925 9.07435 3.65581C10.1208 3.22236 11.2423 2.99927 12.375 2.99927H12.375C13.5077 2.99927 14.6292 3.22236 15.6756 3.65581C16.7221 4.08926 17.6729 4.72457 18.4738 5.52548C19.2747 6.32638 19.91 7.27719 20.3435 8.32363C20.7769 9.37006 21 10.4916 21 11.6243V11.6243C21 13.9118 20.0913 16.1056 18.4738 17.7231C16.8563 19.3406 14.6625 20.2493 12.375 20.2493Z"
                                                        stroke="#BE1F4F" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path
                                                        d="M12.375 13.125C12.9963 13.125 13.5 12.6213 13.5 12C13.5 11.3787 12.9963 10.875 12.375 10.875C11.7537 10.875 11.25 11.3787 11.25 12C11.25 12.6213 11.7537 13.125 12.375 13.125Z"
                                                        fill="#BE1F4F" />
                                                    <path
                                                        d="M7.875 13.125C8.49632 13.125 9 12.6213 9 12C9 11.3787 8.49632 10.875 7.875 10.875C7.25368 10.875 6.75 11.3787 6.75 12C6.75 12.6213 7.25368 13.125 7.875 13.125Z"
                                                        fill="#BE1F4F" />
                                                    <path
                                                        d="M16.875 13.125C17.4963 13.125 18 12.6213 18 12C18 11.3787 17.4963 10.875 16.875 10.875C16.2537 10.875 15.75 11.3787 15.75 12C15.75 12.6213 16.2537 13.125 16.875 13.125Z"
                                                        fill="#BE1F4F" />
                                                </svg>


                            <span>новых 25</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="xs_keyses__more" *ngIf="!noMoreCases">
            <span (click)="loadmore()">Загрузить еще...</span>
        </div>
    </main>

    <ng-template #empty>
        <div style="font-size: 20px;">
            У вас пока нет кейсов...
        </div>
    </ng-template>
</div>


<ng-template #loader>
    <app-loader></app-loader>
</ng-template>