/* font-family: "hseregular"; */

@font-face {
    font-family: "hseregular";
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Regular.eot");
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Regular.eot?#iefix")format("embedded-opentype"), url("../fonts/hse/woff/HSESans-Regular.woff") format("woff"), url("../fonts/hse/ttf/AnyConv.com__HSESans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}


/* font-family: "hseblack"; */

@font-face {
    font-family: "hseblack";
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Black.eot");
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Black.eot?#iefix")format("embedded-opentype"), url("../fonts/hse/woff/HSESans-Black.woff") format("woff"), url("../fonts/hse/ttf/AnyConv.com__HSESans-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}


/* font-family: "hsebold"; */

@font-face {
    font-family: "hsebold";
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Bold.eot");
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Bold.eot?#iefix")format("embedded-opentype"), url("../fonts/hse/woff/HSESans-Bold.woff") format("woff"), url("../fonts/hse/ttf/AnyConv.com__HSESans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}


/* font-family: "hsetwin"; */

@font-face {
    font-family: "hsetwin";
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Thin.eot");
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Thin.eot?#iefix")format("embedded-opentype"), url("../fonts/hse/woff/HSESans-Thin.woff") format("woff"), url("../fonts/hse/ttf/AnyConv.com__HSESans-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}


/* font-family: "hseitalic"; */

@font-face {
    font-family: "hseitalic";
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Italic.eot");
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-Italic.eot?#iefix")format("embedded-opentype"), url("../fonts/hse/woff/HSESans-Italic.woff") format("woff"), url("../fonts/hse/ttf/AnyConv.com__HSESans-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}


/* font-family: "hsesemibold"; */

@font-face {
    font-family: "hsesemibold";
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-SemiBold.eot");
    src: url("../fonts/hse/eot/AnyConv.com__HSESans-SemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/hse/woff/HSESans-SemiBold.woff") format("woff"), url("../fonts/hse/ttf/AnyConv.com__HSESans-SemiBold.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}