.xs_header {
    padding-top: 20px;
    height: 100vh;
}

.xs_header__top {
    display: flex;
    align-items: stretch;
}

.xs_header__logo {
    margin-right: 36px;
}

.xs_header__navigate {
    width: 630px;
    padding-top: 15px;
}

.xs_header__navigate ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.xs_header__entrance {
    margin-left: auto;
    width: 129px;
}

.xs_header__navigate ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #002E6E;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    transition: all 0.3s;
}

.xs_header__navigate ul li a:hover {
    transition: all 0.3s;
    color: #BE1F4F;
}

.xs_header__entrance a {
    border: 3px solid #BE1F4F;
    box-sizing: border-box;
    border-radius: 85px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 126.2%;
    text-transform: uppercase;
    color: #BE1F4F;
    display: inline-block;
    padding: 12px 32px;
    text-decoration: none;
    transition: all 0.3s;
}

.xs_active_link_nav {
    border-bottom: 2px solid #002E6E;
}

.xs_active_link_nav:hover {
    color: #002E6E !important;
}