.xs_add_case h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 125%;
    color: #002E6E;
    text-align: right;
    margin-bottom: 20px;
    margin-top: -10px;
}

.codex-editor__redactor {
    padding-top: 0 !important;
}

.codex-editor--empty {
    display: none !important;
}

.edit_case {
    background: #002E6E;
    border-radius: 4px;
    padding: 15px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 97.7%;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
}

.row .col {
    padding-left: 0 !important;
}

.ce-block__content {
    max-width: 0 !important;
}

#editor-js {
    background-color: #f2f2f2;
}