.xs_add_case h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 125%;
    color: #002E6E;
    text-align: right;
    margin-bottom: 20px;
    margin-top: -10px;
}

.codex-editor__redactor {
    padding-top: 0 !important;
}

.codex-editor--empty {
    display: none !important;
}