<div class="xs_add_case">
    <div class="container">

        <div class="xs_content___component___title">
            <h1>Редактировать кейс</h1>
            <div class="xs_show_case__order___actions">
                <a [routerLink]="['/site','cases','show',caseId]" title="Просмотр кейса">
                    <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 7C9.934 7 4.798 10.776 3 16C4.798 21.224 9.934 25 16 25C22.066 25 27.202 21.224 29 16C27.202 10.776 22.066 7 16 7Z"
                            stroke="#BE1F4F" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21Z"
                            stroke="#BE1F4F" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>

                <span (click)="onDeleteCase($event, xsActualCase)" title="Удалить">
                    <svg width="40" height="50" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M27.9999 40H11.7999C8.4999 40 5.8999 37.3 5.8999 34.1V16C5.8999 15.4 6.2999 15 6.8999 15C7.4999 15 7.8999 15.4 7.8999 16V34.1C7.8999 36.3 9.6999 38 11.7999 38H27.9999C30.1999 38 31.8999 36.2 31.8999 34.1V16C31.8999 15.4 32.2999 15 32.8999 15C33.4999 15 33.8999 15.4 33.8999 16V34.1C33.8999 37.3 31.1999 40 27.9999 40Z"
                            fill="#BE1F4F" />
                        <path
                            d="M33.2999 4.9H25.6999C25.1999 2.1 22.7999 0 19.8999 0C16.9999 0 14.5999 2.1 14.0999 4.9H6.4999C4.1999 4.9 2.3999 6.7 2.3999 9C2.3999 11.3 4.1999 13 6.4999 13H33.3999C35.6999 13 37.4999 11.2 37.4999 8.9C37.4999 6.6 35.5999 4.9 33.2999 4.9ZM19.8999 2C21.6999 2 23.1999 3.2 23.5999 4.9H16.0999C16.5999 3.2 18.0999 2 19.8999 2ZM33.2999 11H6.4999C5.3999 11 4.3999 10.1 4.3999 8.9C4.3999 7.8 5.2999 6.8 6.4999 6.8H33.3999C34.4999 6.8 35.4999 7.7 35.4999 8.9C35.3999 10.1 34.4999 11 33.2999 11Z"
                            fill="#BE1F4F" />
                        <path
                            d="M12.8999 35.1004C12.2999 35.1004 11.8999 34.7004 11.8999 34.1004V17.4004C11.8999 16.8004 12.2999 16.4004 12.8999 16.4004C13.4999 16.4004 13.8999 16.8004 13.8999 17.4004V34.1004C13.8999 34.6004 13.3999 35.1004 12.8999 35.1004Z"
                            fill="#BE1F4F" />
                        <path
                            d="M26.8999 35.1004C26.2999 35.1004 25.8999 34.7004 25.8999 34.1004V17.4004C25.8999 16.8004 26.2999 16.4004 26.8999 16.4004C27.4999 16.4004 27.8999 16.8004 27.8999 17.4004V34.1004C27.8999 34.6004 27.3999 35.1004 26.8999 35.1004Z"
                            fill="#BE1F4F" />
                        <path
                            d="M19.8999 35.1004C19.2999 35.1004 18.8999 34.7004 18.8999 34.1004V17.4004C18.8999 16.8004 19.2999 16.4004 19.8999 16.4004C20.4999 16.4004 20.8999 16.8004 20.8999 17.4004V34.1004C20.8999 34.6004 20.3999 35.1004 19.8999 35.1004Z"
                            fill="#BE1F4F" />
                    </svg>
            
                </span>
            </div>
        </div>
        <main class="xs_add_case">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="xs_add_case__categories">
                    <div class="xs_add_case__categories___wrap">
                        <div class="input-field input-otraslSpec">
                            <h4 for="otraslSpec">Отрасль профессиональной специализации:</h4>
                            <select id="otraslSpec" formControlName="otraslSpec"
                                [ngClass]="{'invalid': form.controls['otraslSpec'].invalid && form.controls['otraslSpec'].touched}">
                                <option value="" disabled selected>Выберите отрасль</option>
                                <option value="Промышленность">Промышленность</option>
                                <option value="Банковский сектор">Банковский сектор</option>
                                <option value="Сельское хозяйство">Сельское хозяйство</option>
                                <option value="Транспорт">Транспорт</option>
                                <option value="Образование">Образование</option>
                                <option value="Здравоохранение">Здравоохранение</option>
                                <option value="Социальное обеспечение">Социальное обеспечение</option>
                                <option value="Строительство">Строительство</option>
                                <option value="Связь">Связь</option>
                                <option value="Торговля">Торговля</option>
                                <option value="Общественное питание">Общественное питание</option>
                                <option value="Логистика">Логистика</option>
                                <option value="Наука">Наука</option>
                                <option value="ЖКХ">ЖКХ</option>
                                <option value="Консалтинг">Консалтинг</option>
                                <option value="Некоммерческая деятельность">Некоммерческая деятельность</option>
                                <option value="Другое">Другое</option>
                            </select>
                        </div>
                
                
                        <div class="input-field input-functionsNapravlenie">
                            <h4 for="functionsNapravlenie">Функциональное направление:</h4>
                            <select id="functionsNapravlenie" formControlName="functionsNapravlenie"
                                [ngClass]="{'invalid': form.controls['functionsNapravlenie'].invalid && form.controls['functionsNapravlenie'].touched}">
                                <option value="" disabled selected>Выберите направление:</option>
                                <option value="Стратегическое развитие">Стратегическое развитие</option>
                                <option value="Управление человеческими ресурсами">Управление человеческими ресурсами</option>
                                <option value="Маркетинг">Маркетинг</option>
                                <option value="IT">IT</option>
                                <option value="Производственный">Производственный</option>
                                <option value="Операционный">Операционный</option>
                                <option value="Финансовый">Финансовый</option>
                                <option value="Инвестиционный">Инвестиционный</option>
                                <option value="Инновационный">Инновационный</option>
                                <option value="Управление качеством">Управление качеством</option>
                                <option value="Антикризисное управление">Антикризисное управление</option>
                                <option value="Логистика и управление цепями поставок">Логистика и управление цепями поставок</option>
                                <option value="Внешнеэкономическая деятельность">Внешнеэкономическая деятельность</option>
                                <option value="Другое">Другое</option>
                            </select>
                        </div>
                    </div>
                </div>

                
                <div class="xs_add_case__preview">
                    <div class="xs_user_profile__avatar">
                        <div>
                            <figure class="xs_preview">
                                <img [src]="[previewSrc]" alt="Изображение" *ngIf="previewSrc !== ''">
                                <div class="prevEmpty" *ngIf="previewSrc == ''">Загрузить обложку кейса</div>
                            </figure>
                            <input type="file" class="xs_file" #input (change)="onPreviewFileUpload($event)">
                            <button type="button" class="waves-effect waves-light btn orange lighten-2 mb2" (click)="triggerClick()">
                                ИЗМЕНИТЬ ОБЛОЖКУ КЕЙСА
                            </button>
                        </div>
                    </div>
                </div>

                <div class="input-field">
                    <input id="title" type="text" formControlName="title" [ngClass]="{'invalid': form.controls['title'].invalid && form.controls['title'].touched}">
                    <label for="title">Заголовок:</label>
                    <span class="helper-text red-text" *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
                        <p *ngIf="form.controls['title'].errors?.required">
                            Заголовок не должен быть пустым
                        </p>

                        <p *ngIf="form.controls['title'].errors?.email">
                            Введите корректный Заголовок
                        </p>
                    </span>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <div id="editor-js"></div>
                    </div>
                </div>




                <button type="submit" class="edit_case" [disabled]="form.invalid || form.disabled">Изменить</button>
            </form>
        </main>
    </div>
</div>