<div class="xs_auth_component">
    <div class="xs_auth_component___form">
        <form [formGroup]="form" class="card" (ngSubmit)="onSubmit()">
            <div class="card-content">
                <h1>Регистрация</h1>

                <div class="card_content__wrap">
                    <div class="input-field">
                        <input id="email" type="email" formControlName="email" [ngClass]="{'invalid': form.controls['email'].invalid && form.controls['email'].touched}">
                        <label for="email">Email:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                        <p *ngIf="form.controls['email'].errors?.required">
                            Email не должен быть пустым
                        </p>

                        <p *ngIf="form.controls['email'].errors?.email">
                            Введите корректный Email
                        </p>
                    </span>
                    </div>

                    <div class="input-field">
                        <input id="password" type="password" formControlName="password" [ngClass]="{'invalid': form.controls['password'].invalid && form.controls['password'].touched}">
                        <label for="password">Пароль:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                        <p *ngIf="form.controls['password'].errors?.required">
                            Пароль не должен быть пустым
                        </p>

                        <p *ngIf="form.controls['password'].errors?.minlength">
                            Минимальная длина пароля 6 символов
                        </p>
                    </span>
                    </div>

                    <div class="input-field">
                        <input id="phone" type="text" formControlName="phone" [ngClass]="{'invalid': form.controls['phone'].invalid && form.controls['phone'].touched}">
                        <label for="phone">Телефон:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched">
                        <p *ngIf="form.controls['phone'].errors?.required">
                            Телефон не должен быть пустым
                        </p>
                
                        <p *ngIf="form.controls['phone'].errors?.email">
                            Введите корректный Телефон
                        </p>
                    </span>
                    </div>

                    <div class="input-field">
                        <input id="name" type="text" formControlName="name" [ngClass]="{'invalid': form.controls['name'].invalid && form.controls['name'].touched}">
                        <label for="name">Имя:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                        <p *ngIf="form.controls['name'].errors?.required">
                            Имя не должно быть пустым
                        </p>
                
                        <p *ngIf="form.controls['phone'].errors?.email">
                            Введите корректный Имя
                        </p>
                    </span>
                    </div>

                    <div class="input-field">
                        <input id="secondName" type="text" formControlName="secondName" [ngClass]="{'invalid': form.controls['secondName'].invalid && form.controls['secondName'].touched}">
                        <label for="secondName">Фамилия:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['secondName'].invalid && form.controls['secondName'].touched">
                        <p *ngIf="form.controls['secondName'].errors?.required">
                            Фамилия не должно быть пустым
                        </p>
                
                        <p *ngIf="form.controls['secondName'].errors?.email">
                            Введите корректный Фамилия
                        </p>
                    </span>
                    </div>

                    <div class="input-field">
                        <input id="thirdName" type="text" formControlName="thirdName" [ngClass]="{'invalid': form.controls['thirdName'].invalid && form.controls['thirdName'].touched}">
                        <label for="thirdName">Отчество:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['thirdName'].invalid && form.controls['thirdName'].touched">
                        <p *ngIf="form.controls['thirdName'].errors?.required">
                            Отчество не должно быть пустым
                        </p>
                
                        <p *ngIf="form.controls['thirdName'].errors?.email">
                            Введите корректный Отчество
                        </p>
                    </span>
                    </div>

                    <label for="program">Программа:</label>
                    <div class="input-field col s6">

                        <select id="program" formControlName="program" [ngClass]="{'invalid': form.controls['program'].invalid && form.controls['program'].touched}">
                            <option value="" disabled selected>Выберите программу</option>
                            <option value="MBA">MBA</option>
                            <option value="EMBA">EMBA</option>
                            <option value="DBA">DBA</option>
                            <option value="ExeMast in HR">ExeMast in HR</option>
                        </select>
                    </div>




                    <label for="specialization">Специализация программы:</label>
                    <div class="input-field col s6">
                        <select id="specialization" formControlName="specialization" [ngClass]="{'invalid': form.controls['specialization'].invalid && form.controls['specialization'].touched}">
                            <option value="" disabled selected>Выберите специализацию</option>
                            <option value="Стратегия">Стратегия</option>
                            <option value="Стратегический менеджмент">Стратегический менеджмент</option>
                            <option value="Маркетинг и продажи">Маркетинг и продажи</option>
                            <option value="Финансы">Финансы</option>
                            <option value="Управление продажами и маркетингом">Управление продажами и маркетингом</option>
                        </select>
                    </div>





                    <div class="input-field">
                        <input id="workPos" type="text" formControlName="workPos" [ngClass]="{'invalid': form.controls['workPos'].invalid && form.controls['workPos'].touched}">
                        <label for="groupName">Должность:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['workPos'].invalid && form.controls['workPos'].touched">
                            <p *ngIf="form.controls['workPos'].errors?.required">
                                Специализация не должна быть пустой
                            </p>
                    
                            <p *ngIf="form.controls['workPos'].errors?.email">
                                Введите корректную Специализацию
                            </p>
                        </span>
                    </div>

                    <div class="input-field">
                        <input id="year" type="text" formControlName="year" [ngClass]="{'invalid': form.controls['year'].invalid && form.controls['year'].touched}">
                        <label for="groupName">Год выпуска:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['year'].invalid && form.controls['year'].touched">
                        <p *ngIf="form.controls['year'].errors?.required">
                            Год выпуска не должен быть пустым
                        </p>
                
                        <p *ngIf="form.controls['year'].errors?.email">
                            Введите корректный Год выпуска
                        </p>
                    </span>
                    </div>



                    <div class="input-field">
                        <input id="company" type="text" formControlName="company" [ngClass]="{'invalid': form.controls['company'].invalid && form.controls['company'].touched}">
                        <label for="company">Компания:</label>
                        <span class="helper-text red-text" *ngIf="form.controls['company'].invalid && form.controls['company'].touched">
                            <p *ngIf="form.controls['company'].errors?.required">
                                Специализация не должна быть пустой
                            </p>
                        </span>
                    </div>




                    <label for="otraslSpec">Отрасль профессиональной специализации:</label>
                    <div class="input-field col s6">
                        <select id="otraslSpec" formControlName="otraslSpec" [ngClass]="{'invalid': form.controls['otraslSpec'].invalid && form.controls['otraslSpec'].touched}">
                            <option value="" disabled selected>Выберите отрасль</option>
                            <option value="Образование">Образование</option>
                            <option value="Медицина">Медицина</option>
                            <option value="Строительство">Строительство</option>
                            <option value="Экономика">Экономика</option>
                            <option value="IT">IT</option>
                        </select>
                    </div>





                    <label for="functionsNapravlenie">Функциональное направление:</label>
                    <div class="input-field col s6">
                        <select id="functionsNapravlenie" formControlName="functionsNapravlenie" [ngClass]="{'invalid': form.controls['functionsNapravlenie'].invalid && form.controls['functionsNapravlenie'].touched}">
                            <option value="" disabled selected>Выберите направление:</option>
                            <option value="HR">HR</option>
                            <option value="Маркетинг">Медицина</option>
                            <option value="Строительство">Маркетинг</option>
                            <option value="Логистика">Логистика</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="modal-action btn waves-effect" type="submit" [disabled]="form.invalid || form.disabled">Регистрация</button>
            </div>
        </form>
    </div>
</div>