<section class="home_filter">
    <div class="container">
        <div class="home_filter_row">
            <h3>Кейсы по функциональному менеджменту</h3>

            <div class="home_filter__list">
                <span *ngFor="let link of links">{{link.name}}</span>
            </div>
        </div>

        <div class="home_filter_row home_filter_row__2">
            <h3>Кейсы по отраслям</h3>

            <div class="home_filter__list">
                <span *ngFor="let link of links2">{{link.name}}</span>
            </div>
        </div>
    </div>
</section>

