<div class="comment">
    <div class="comment-image-container">
        <img src="/assets/user-icon.png" />
    </div>

    <div class="comment-right-part">
        <div class="comment-content">
            <div class="comment-author">{{ comment.username }}</div>
            <div>{{ comment.date | date: 'mediumDate':null:'ru' }}</div>
        </div>
    </div>
    <div class="comment-text">{{ comment.body }}</div>


    <div class="comment_actions">
        <div class="comment-action" *ngIf="canReply">Ответить</div>
        <div class="comment-action" *ngIf="canEdit">Изменить</div>
        <div class="comment-action" *ngIf="canDelete">Удалить</div>
    </div>
</div>